jupyterlab
ipykernel
ipywidgets
aiohttp
nest_asyncio
ujson
here-map-widget-for-jupyter

--extra-index-url https://artifactory.in.here.com/artifactory/api/pypi/onesearch-pypi/simple/

jupyter-repo2docker