jupyterlab
ipykernel
ipywidgets
aiohttp
nest_asyncio
ujson
traitlets
panel
here-map-widget-for-jupyter
flexpolyline
geopandas
shapely

--extra-index-url https://artifactory.in.here.com/artifactory/api/pypi/onesearch-pypi/simple/

jupyter-repo2docker