.leaflet-popup-content-wrapper {
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
    padding: 0;
}

.leaflet-popup-content {
    margin:  0 6px 6px 6px;
}

.leaflet-popup-tip {
    background: #fff;
    box-shadow: none;
}
