# This workflow will install Python dependencies, run tests and lint with a variety of Python versions
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: Python package

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
  schedule:
    - cron: "0 8 * * *"

jobs:

  test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest] #, macos-latest, windows-latest]
        python-version: ["3.13"] #, "3.12", "3.13"]
    steps:
      # https://github.com/actions/checkout
      # https://github.com/actions/setup-python
      # https://github.com/astral-sh/setup-uv
      # https://github.com/pypa/gh-action-pypi-publish
      # https://github.com/codecov/codecov-action
      # https://github.com/actions/upload-pages-artifact
      # https://github.com/actions/deploy-pages
      - uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: astral-sh/setup-uv@v7
        with:
          version: "0.9.18"
          python-version: ${{ matrix.python-version }}

      - name: Generate uv lockfile
        run: uv lock

      - name: Test with python ${{ matrix.python-version }}
        run: |
          uv run --extra dev --extra lab --frozen pytest

      - name: Lint
        if: matrix.python-version == '3.13'
        run: |
          uv run --extra dev --extra lab --frozen src/here_search/demo/scripts/lint.sh --check

      - name: Coverage
        if: github.ref == 'refs/heads/main' && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13'
        run: |
          uv run --active --extra dev --extra lab --frozen pytest -v --cov=src tests --cov-report=xml --cov-report=term-missing

      - name: Upload to Codecov
        if: github.ref == 'refs/heads/main' && matrix.os == 'ubuntu-latest' && matrix.python-version == '3.13'
        uses: codecov/codecov-action@v5
        with:
          file: ./coverage.xml
          flags: unittests
          verbose: true
          token: ${{ secrets.CODECOV_TOKEN }}

  pages-build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Install uv
        uses: astral-sh/setup-uv@v7
      - name: Generate uv lockfile
        run: uv lock
      - name: Install the project
        run: uv sync --locked --all-extras --dev
      - name: Create page
        run: |
          uv run --active --frozen src/here_search/demo/scripts/lite-run.sh -n || true
          ls -la
          ls -la workspace
          mv workspace/public .
      - name: Upload artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: ./public

  deploy:
    needs: pages-build
    #if: github.ref == 'refs/heads/main'
    permissions:
      pages: write
      id-token: write

    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}

    runs-on: ubuntu-latest
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
